CalculatorWebApp/Connected Services/CalculatorService/CalulatorWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTwoNumberResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractTwoNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractTwoNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractTwoNumberResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyTwoNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyTwoNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyTwoNumberResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideTwoNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideTwoNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideTwoNumberResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalulations">
        <s:complexType />
      </s:element>
      <s:element name="GetCalulationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalulationsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumberSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwoNumber" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumberSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SubtractTwoNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SubtractTwoNumber" />
  </wsdl:message>
  <wsdl:message name="SubtractTwoNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractTwoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplyTwoNumberSoapIn">
    <wsdl:part name="parameters" element="tns:MultiplyTwoNumber" />
  </wsdl:message>
  <wsdl:message name="MultiplyTwoNumberSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyTwoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="DivideTwoNumberSoapIn">
    <wsdl:part name="parameters" element="tns:DivideTwoNumber" />
  </wsdl:message>
  <wsdl:message name="DivideTwoNumberSoapOut">
    <wsdl:part name="parameters" element="tns:DivideTwoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetCalulationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCalulations" />
  </wsdl:message>
  <wsdl:message name="GetCalulationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCalulationsResponse" />
  </wsdl:message>
  <wsdl:portType name="CalulatorWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumber">
      <wsdl:input message="tns:AddTwoNumberSoapIn" />
      <wsdl:output message="tns:AddTwoNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubtractTwoNumber">
      <wsdl:input message="tns:SubtractTwoNumberSoapIn" />
      <wsdl:output message="tns:SubtractTwoNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumber">
      <wsdl:input message="tns:MultiplyTwoNumberSoapIn" />
      <wsdl:output message="tns:MultiplyTwoNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DivideTwoNumber">
      <wsdl:input message="tns:DivideTwoNumberSoapIn" />
      <wsdl:output message="tns:DivideTwoNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCalulations">
      <wsdl:input message="tns:GetCalulationsSoapIn" />
      <wsdl:output message="tns:GetCalulationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalulatorWebServiceSoap" type="tns:CalulatorWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumber">
      <soap:operation soapAction="http://tempuri.org/AddTwoNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractTwoNumber">
      <soap:operation soapAction="http://tempuri.org/SubtractTwoNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumber">
      <soap:operation soapAction="http://tempuri.org/MultiplyTwoNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideTwoNumber">
      <soap:operation soapAction="http://tempuri.org/DivideTwoNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalulations">
      <soap:operation soapAction="http://tempuri.org/GetCalulations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalulatorWebServiceSoap12" type="tns:CalulatorWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumber">
      <soap12:operation soapAction="http://tempuri.org/AddTwoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractTwoNumber">
      <soap12:operation soapAction="http://tempuri.org/SubtractTwoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumber">
      <soap12:operation soapAction="http://tempuri.org/MultiplyTwoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideTwoNumber">
      <soap12:operation soapAction="http://tempuri.org/DivideTwoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalulations">
      <soap12:operation soapAction="http://tempuri.org/GetCalulations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalulatorWebService">
    <wsdl:port name="CalulatorWebServiceSoap" binding="tns:CalulatorWebServiceSoap">
      <soap:address location="https://localhost:44351/CalulatorWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalulatorWebServiceSoap12" binding="tns:CalulatorWebServiceSoap12">
      <soap12:address location="https://localhost:44351/CalulatorWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>